.ColorsContainer-body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.Colorbox-box {
  width: 80px;
  height: 80px;
  margin: 0px;
  box-sizing: border-box;
}
